_deps/
bin/
build/
CMakeFiles/
lib/
Testing/
*_autogen/
.idea/
.vscode/
cmake-build-debug/
CMakeScripts/
*.xcodeproj
*.build
.ninja*
*.ninja
*.zip

.DS_Store
*.cbp
*.cmake
*.tcl
*.user
MakeFile
*Cache*
getit
