[Desktop Entry]
Name=GetIt
Comment=Send HTTP requests to your API endpoints
Exec=getit %f
Icon=network-transmit
Type=Application
MimeType=text/plain
Categories=Development;Tools;Network